@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

$primary: #564787;
$secondary: #48a9a6;
$background: #cab6b6;
/* MAIN COMPONENTS */
.loading {
    position: fixed;
    font-size: 75px;
    color: $primary;
    top: 50%;
    left: 50%;
    transition: transform(-50%, -50%);
}
.doch-wrapper {
    * {
        direction: rtl;
        text-align: right;
        font-family: "Rubik", sans-serif !important;
    }
}
.doch-jumbo {
    background: linear-gradient(50deg, $secondary, $primary);
    background-size: 400% 400%;
    color: lighten($background, 15);

    -webkit-animation: GradientAnimate 10s ease infinite;
    -moz-animation: GradientAnimate 10s ease infinite;
    animation: GradientAnimate 10s ease infinite;
    margin-bottom: 0;
}
.doch-description {
    font-size: 30px !important;
}
.doch-list {
    li {
        font-size: 24px;
    }
}

.doch-send {
    background-color: $primary;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 0.25rem 1rem;
    margin: 1rem 0.5rem;
}

//ANIMATIONS
@keyframes GradientAnimate {
    0% {
        background-position: 0% 54%;
    }
    50% {
        background-position: 100% 47%;
    }
    100% {
        background-position: 0% 54%;
    }
}
